/*Style*/

body {
	background-color: #0f0e0e;
	
	/*615F5E*/
}

td {
	text-align: left;
}
th {
	text-align: left;
	height: 50px;
}
p {
	text-align: left;
	color: black;
}

table#headerTable {
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 50px;
  border: 1px solid white;
}

table#routesTable {
	background-color: #0f0e0e;
	border: 1px solid white;
	width: 100%;
	color: white;
}

tbody#tableBody {
	border: 1px solid white;
}

body {
	padding: 0px;
}

div#routesContainer {
	margin: 0px;
	padding: 0px;
	padding-top: 50px;
}

.checkedCell {
	/*padding-left: 10px;*/
	text-align: center;
	border-right: 2px dashed #979797;
}

.busCell {
	font-size: 50px;
	border-right: 2px dashed #979797;
	padding-left: 8px;

	text-align: center;
}

.directionCell {
	padding-left: 15px;
	font-size: 40px;
	border-right: 2px dashed #979797;
}

.timeCell {
	font-size: 40px;
	padding-left: 20px;
}


.headerChecked {
	width: 12%; 
	padding-left: 20px;
}

.headerBus {
	width: 16%;
	padding-left: 20px;
}

.headerDirection {
	padding-left: 15px;
	width: 42%;
}

.headerTime {
	width: 20%;
	padding-left: 16px;
}

.clock {
	width: 10%; 
	text-align: right; 
}



.cell {
	padding-bottom: 4px;
    border-bottom: 2px solid white; /* This creates the border. Replace black with whatever color you want. */
    height: 80px;
    margin-bottom: 0px;
    float: left;
    list-style: none;
    padding-bottom: auto;
    padding-top: 12px;
    font-weight: bolder;
    font-family: "Avenir Next" !important;
    font-size: 40px; 
}


img.checked {
   	max-height: 75%;
   	width: auto;

   	display: block;
    margin-left: auto;
    margin-right: auto;
}


div.verify {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0;
	left: 0;
	background-color: #0f0e0e;
	z-index: 100;
}

div.container-fluid {
	/*style="text-align: center; margin-top: 40px; height: 80%"*/
	width: 90%;
    height: 100%;
    max-height: 100%;
    /*background-color: blue;*/

    position:relative;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
    /*background-color: red;*/
}

.verifyTable.verifyTableCell {
	/*background-color: red;*/
	padding: auto;
	margin-left: auto;
}


img.verifyButton.yes {
	max-height: 100%;
   	width: auto;
   	display: inline-block;
    margin: 20px;
}
img.verifyButton.no {
	max-height: 100%;
   	width: auto;
   	display: inline-block;
    margin: 20px;
}

div.center {
	margin-top: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	margin-bottom: 20px;
	width: auto;
	height: 50%;
	/*background-color: red;*/
}

/*.header-p {
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Kohinoor Bangla"
}*/

.header-p {
	margin-bottom: 0px;
    float: left;
    list-style: none;
    padding: 0;
    font-weight: bolder;
    font-size: 25px; 
}

h1 {
	margin-top: 5%;
    float: center;
    padding: 0;
    font-weight: bolder;
    text-align: center;
    /*font-family: "Avenir Next" !important;*/
    font-size: 38px; 
}

h3 {
	margin-top: 5%;
    float: center;
    padding: 0;
    font-weight: bolder;
    text-align: center;
    /*font-family: "Avenir Next" !important;*/
    font-size: 33px; 
}

@font-face {
  font-family: 'Avenir Next';
  src: url("https://www.smartstop.skovhansen.net/device/fonts/AvenirNext-lt.otf"); /* File to be stored at your site */
  }


